body{
    padding: 0%;
    margin: 0%;
    background-image: url(../images/pexels-aleksandar-pasaric-2341830\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    margin-top: -0.5%;
    background-color: lightblue;
    padding: 1.5%;
    text-align: center;
}

.lotto{
    width: 10%;
    padding: 0.7%;
    position: absolute;
    top: 45%;
    left: 32%;
    background-color: red;
    font-size: 90%;
}

.würfel{
    width: 10%;
    padding: 0.7%;
    position: absolute;
    top: 45%;
    left: 58%;
    background-color: red;
    font-size: 90%;
}

.images{
    display: flex;
}

.images img{
    width: 20%;
    margin-left: 20%;
    margin-top: 15%;
}

.welcome{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
}